@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
    color: var(--text);
    font-weight: 500;
}

:root {
    --text: rgb(21, 22, 22);
    --border: 1px solid #007448;
    --bg-main: rgba(255, 255, 255, 0.7);
}

body {
    font-family: 'Nunito', system-ui, sans-serif;
    background-image: url(./imgs/stardewbackground.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}   

#hero-sec {
    padding-bottom: 3em;
    display: flex;
    justify-content: space-around;
}

#hero-sec img {
    object-fit: contain;
}

#hero-sec img:nth-child(2) {
    width: 350px;
}

#hero-sec img:nth-child(1),
#hero-sec img:nth-child(3) {
    display: none;
    width: 360px;
}

.site section {
    margin-bottom: 4em;
}

.site section div:has(iframe) {
    display: flex;
    justify-content: center;
}

.site section div iframe {
    border: 10px solid transparent;
    border-image: url(./imgs/menu_border.png) 12 stretch;
}

.site section h1 {
    padding: 0.4em 0;
    background-color: #03A007;
    text-align: center;
    border: var(--border);
    color: white;
    font-weight: bold;
    text-shadow: 0px 1px #00321f;
    margin-bottom: .2em;
    font-size: 1.2rem;
}

.site section > div {
    background-color: var(--bg-main);
    padding: 2em;
    border: var(--border);
}

section p,
.download-sec p {
    font-size: 1.2rem;
    line-height: 1.4em;
}

section:nth-child(3) img {
    float: left;
    margin-right: .8em;
}

.gallery {
    margin-top: 2em;
    display: grid;
    grid-template-columns: 1fr;
    gap: 3em 2em;
    align-items: center;
    justify-items: center;
    width: 100%;
}

.gallery img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border: 10px solid transparent;
    border-image: url(./imgs/menu_border.png) 12 stretch;
}

.download-sec {
    background-color: var(--bg-main);
    border: 1px solid #8DCAF0;
}

.download-sec h1 {
    padding: 0.4em 0;
    color:#0645ad;
    text-align: center;
    font-weight: bold;
    margin-bottom: .2em;
    font-size: 1.2rem;
}

.download-sec > div {
    border-color: #8DCAF0;
    padding: 2em;
}

.download-sec p {
    color: #36b;
}

.download-sec a:first-of-type {
    margin-top: 1em;
}

.download-sec a {
    display: block;
    color: #0645ad;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: .6em;
}

.download-sec a:hover {
    text-decoration: underline;
}

.download-sec a:last-of-type {
    margin: 0;
}

.download-sec a:first-of-type::before {
    content: url("./imgs/icons8-steam.svg");
    vertical-align: middle;
    margin-right: .4em;
}

.download-sec a:last-of-type::before {
    content: url("./imgs/icons8-google-play.svg");
    vertical-align: middle;
    margin-right: .4em;
}

footer {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 2em 0;
}

footer p {
    text-align: center;
    color: white;
    width: 75%;
    margin: 0 auto;
}

.site {
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 3em;
    position: relative;
}

@media(min-width: 640px) {
    .container {
        max-width: 640px;
    }

    .site {
        margin-top: 2.5em;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.6);
        padding: 3em;
    }

    .container {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    footer {
        margin-top: 6em;
    }
}

@media(min-width: 768px) {
    .container {
        max-width: 768px;
    }

    #hero-sec img:nth-child(2) {
        width: 460px;
    }
    
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media(min-width: 1024px) {
    .container {
        max-width: 1024px;
    }

    .site {
        padding-left: 7em;
        padding-right: 7em;
    }
    
    .gallery img {
        width: 300px;
        height: 300px;   
    }

}

@media(min-width: 1280px) {
    .container {
        max-width: 1280px;
    }

    #hero-sec img:nth-child(3) {
        display: block;
    }

    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(min-width: 1536px) {
    .container {
        max-width: 1536px;
    }

    #hero-sec img:nth-child(1) {
        display: block;
    }

    .gallery img {
        width: 350px;
        height: 350px;   
    }
}